<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:remove="all"></title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <style>
        body{
            font-family: 'Times New Roman', Times, serif;
            height: 100%;
        }
        .content{
            margin: 0 auto;
            vertical-align: middle;
            width: 50%;
            padding: 25px 20px;
            line-height: 30px;
            text-align: center;
            background-color: #F8DEBD;
        }
        .button{
            background-color: #66b3c3;
            padding: 15px 8px;
            text-decoration: none;
            color: antiquewhite;

        }
    </style>
</head>
<body>
    <div class="content">
        <p>A patient requested your help.</p>
        <p class="button"><a th:href="${url}">Click here to help the people</a></p>
    </div>
</body>
</html>